 /*******
 CSS Structure:
 1. Positioning (float, position, etc.)
 2. Format (display, margin, height, etc.)
 3. Contents (text, font, background, etc.)
 *******/
 
@import url('https://fonts.googleapis.com/css?family=Mate|Open+Sans:300,600');
 
 html {
	height: 100%;
	margin: 0px;
 }

 body {
	position: relative;
	margin: auto;
	min-height: 100%;
	max-width: 800px;
	font-family: 'Open Sans', sans-serif;
 }
 
 article {
	display: inline-block;
	position: absolute;
	vertical-align: top;
	height: 100%;
 }
 
 h1 {
	font-size: 38px;
	color: #444444;
	line-height:150%;
	font-weight: 600;
 }

 h2 {
	font-weight: 300;
	font-size: 18px;
	text-transform: uppercase;
 }
 
 figure {
	margin: 15px;
 }
 
 p {
	font: normal 17px/1.35 'Mate', serif;
	text-align:left;
	-webkit-hyphens: auto;
    	-moz-hyphens: auto;
   	-ms-hyphens: auto;
   	hyphens: auto;
	text-indent: 30px;
 }
 
 ul {
	padding: 0px;
 }
 
 li {
	margin: 5px 0px;
	padding: 5px 5px ;
	background-color: rgb(150,0,33);
 }
 
 li:hover {
	margin: 5px 0px;
	padding: 5px 5px ;
	background-color:#AAA;
 }
 
 a {
	text-decoration: none;
	font-weight: bold;
	font-family: "Courier New", Courier, monospace;
 }
 
 a.link:link{
	padding:1px 4px;
	background-color: #960021;
	color:#FFF;
 }
 
 a.link:hover{
	background-color: #AAA !important; 
	color: #FFF;
 }
 
 a.link:visited {
	background-color: rgb(150,0,33);
	color: #FFF;
 }
 
 a.button:link {
	display: inline-block;
	font-size: 20px;
	line-height: 110%;
	color: #FFF;
 }
 
a.button:hover {
	font-size: 20px;
	color: #FFF;
 }

 a.button:visited {
	font-size: 20px;
	color: #FFF;
 }
 
/******* article classes *******/
 .puzzle {
	width: 450px;
 }


 .info {
	position: absolute;
	left:500px;
	width: 300px;
	height:100%;
 }

/******* section classes *******/
 .contents {
	text-align: right;
 }
 
/******* structuring classes *******/
 .problem-float {
	float:top; 
	height:50%;
	margin-top:-325px;
 }
 .contents-float {
	float:top; 
	height:50%;
	margin-bottom:-175px;
 }
 .hidden {
	display:none;
 }
 .center {
	display:block;
	margin:auto;
 }
 .right {
	float:right;
 }
 .left {
	float:left;
 }

 /******* figure classes *******/
 .homepage{
	font-size: 15px;
	text-align: right;
	position: relative;
	top:5px;
	left:-40px;
 }
 
 /******* list classes *******/
 .current {
	margin: 5px 0px;
	padding: 5px 5px ;
	background-color:#AAA;
 }
 
 /******* paragraph classes *******/
 .firstparagraph {
	text-indent:0px !IMPORTANT;
 }
	
 /****** puzzle pictures *******/
 #puzzlepic {
	width: 400px;
 }

/* Media Query: change format depending on width of screen.
@media screen and (min-width:600px) {

}
@media screen and (max-width:599px) {

}*/

